dist: trusty
sudo: false
language: cpp
matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-5.0
          - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-6.0 main'
            key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
          - clang-5.0
          - libstdc++5
      env:
      - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"
      
    - os: linux
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-6.0
          - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-6.0 main'
            key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
          - clang-6.0
          - libstdc++6
      env:
      - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"
      
    - os: linux
      sudo: true
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-7
          - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-7 main'
            key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
          - clang-7
          - libstdc++-7-dev
      env:
      - MATRIX_EVAL="CC=clang-7 && CXX=clang++-7"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
        
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"

    - os: osx
      osx_image: xcode10
      env:
        - MATRIX_EVAL=""

    - os: osx
      osx_image: xcode9.4
      env:
        - MATRIX_EVAL=""

    - os: osx
      osx_image: xcode8.3
      env:
        - MATRIX_EVAL=""
        
before_install:
    - eval "${MATRIX_EVAL}"

# require the branch name to be master
if: branch = master

script:
- mkdir build-travis
- cd build-travis
- cmake .. -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX
- make -j3
- cmake .. -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=Debug
- make -j3
