sudo: false
language: cpp
matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

    - os: linux
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          - llvm-toolchain-trusty-6.0
          - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-6.0 main'
            key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
          - clang-6.0
          - libstdc++6
          - libpng-dev
      env:
      - MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0"

    - os: osx
      osx_image: xcode8.3
      env:
        - MATRIX_EVAL="brew install gcc && CC=gcc-8 && CXX=g++-8"

before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update ;
      brew cask uninstall oclint;
      fi
    - eval "${MATRIX_EVAL}"

# require the branch name to be master
if: branch = master

script:
- mkdir build-travis
- cd build-travis
- echo "Building Release"
- cmake .. -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX
- make -j3
- echo "Building Debug"
- cmake .. -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX -DCMAKE_BUILD_TYPE=Debug
- make -j3
